﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        @foreach (var ad in ViewBag.Results)
        {
            <li>@ad.ToString() </li>
        }
    </ul>
</body>
</html>