﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Addresses/CreateAddress" method="post">

        <label>AddressType:</label>
        <input name="AddressType" />
        <br />

        <label>Cep:</label>
        <input name="Cep" />
        <br />

        <label>City:</label>
        <input name="City" />
        <br />

        <label>Complement:</label>
        <input name="Complement" />
        <br />

        <label>EmployeeId:</label>
        <input name="EmployeeId" />
        <br />

        <label>Neighborhood:</label>
        <input name="Neighborhood" />
        <br />

        <label>Number:</label>
        <input name="Number" />
        <br />

        <label>Street:</label>
        <input name="Street" />
        <br />

        <button>Gravar</button>
    </form>
</body>
</html>