﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
        <form action="/Employees/CreateEmployee" method="post">

            <label>Name:</label>
            <input name="Name" />
            <br />

            <label>Cpf:</label>
            <input name="Cpf" />
            <br />

            <label>Eschooling:</label>
            <input name="Eschooling" />
            <br />

            <label>Deficiency:</label>
            <input name="Deficiency" />
            <br />

            <label>DeficiencyType:</label>
            <input name="DeficiencyType" />
            <br />

            <label>Gender:</label>
            <input name="Gender" />
            <br />

            <label>Stranger:</label>
            <input name="Stranger" />
            <br />

            <label>EntryCondicion:</label>
            <input name="EntryCondicion" />
            <br />

            <label>Pis:</label>
            <input name="Pis" />
            <br />

            <label>Email:</label>
            <input name="Email" />
            <br />

            <label>CellPhone:</label>
            <input name="CellPhone" />
            <br />

            <label>Telephone:</label>
            <input name="Telephone" />
            <br />

            <label>CivilianState:</label>
            <input name="CivilianState" />
            <br />

            <label>RaceColor:</label>
            <input name="RaceColor" />
            <br />

            <label>Code:</label>
            <input name="Code" />
            <br />

            <label>CorporationId:</label>
            <input name="CorporationId" />
            <br />

            <button>Gravar</button>
        </form>
	</body>
</html>