﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Corporation/CreateCorporation" method="post">

        <label>Name:</label>
        <input name="Name" />
        <br />

        <label>Cnpj:</label>
        <input name="Cnpj" />
        <br />

        <button>Gravar</button>
    </form>
</body>
</html>