﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Contract/CreateContract" method="post">

        <label>Sector:</label>
        <input name="Sector" />
        <br />

        <label>Dangerousness:</label>
        <input name="Dangerousness" />
        <br />

        <label>Unhealthiness:</label>
        <input name="Unhealthiness" />
        <br />

        <label>function:</label>
        <input name="function" />
        <br />

        <label>Days:</label>
        <input name="Days" />
        <br />

        <label>Extendable:</label>
        <input name="Extendable" />
        <br />

        <label>ExperienceContract:</label>
        <input name="ExperienceContract" />
        <br />

        <label>AdmissionDate:</label>
        <input name="AdmissionDate" />
        <br />

        <label>MonthlyJourney:</label>
        <input name="MonthlyJourney" />
        <br />

        <label>WorkSchedule:</label>
        <input name="WorkSchedule" />
        <br />

        <label>Salary:</label>
        <input name="Salary" />
        <br />

        <label>SalaryType:</label>
        <input name="SalaryType" />
        <br />

        <label>NightAddicional:</label>
        <input name="NightAddicional" />
        <br />

        <label>TransportacionVoucher:</label>
        <input name="TransportacionVoucher" />
        <br />

        <label>FoodVoucher:</label>
        <input name="FoodVoucher" />
        <br />

        <label>VoucherValue:</label>
        <input name="VoucherValue" />
        <br />

        <label>EmployeeId:</label>
        <input name="EmployeeId" />
        <br />

        <button>Gravar</button>
    </form>
</body>
</html>