﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Dependent/UpdateDependent" method="post">

        <label>Id:</label>
        <input name="Id" />
        <br />

        <label>Name:</label>
        <input name="Name" />
        <br />

        <label>Kinship:</label>
        <input name="Kinship" />
        <br />

        <label>BornDate:</label>
        <input name="BornDate" />
        <br />

        <label>IrrfDep:</label>
        <input name="IrrfDep" />
        <br />

        <label>EmployeeId:</label>
        <input name="EmployeeId" />
        <br />

        <button>Gravar</button>
    </form>
</body>
</html>